/* From Uiverse.io by kamehame-ha 
.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .cards .red {
    background-color: #f43f5e;
  }
  

  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 500px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  

  

  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  */








.todoItem{
    background-color: aliceblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px, 5px, 50px rgb(32, 35, 41,0.15);

}

.todoItem-p{
    margin: 24px, 0, 24px, 24px;
    width: calc(100%- 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 24px;

}

.todoItem-p--completd{
    text-decoration: line-through;
}


.todoItem-p{
    background-color: aqua;
}
.containerp{
    display: flex;
    justify-content: center;
}
.todoItem{
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #ccc;
    width: 500px;
    height: 150px;
    -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}

.lip{
    display: flex;
    justify-content: center;
}
.containerLike{
    display: block;
    border: solid black 5px;
}
.contenedor-p{
    display: block;
}